name: Daily Data Update

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code auschecken
        uses: actions/checkout@v3

      - name: Python einrichten
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Abhängigkeiten installieren
        run: |
          pip install pandas

      - name: Update-Skript ausführen
        run: python update_data.py

      - name: Änderungen speichern
        run: |
          git config --global user.name 'SynerG Bot'
          git config --global user.email 'bot@synergbuilds.com'
          git add hardware_data.csv
          git commit -m "Automatisches Update der Daten" || exit 0
          git push
